<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h3 class="mb-sm-0">Daromadlar bo'limi</h3>

            <div class="page-title-right">
                <div class="btn-group col-md-12 col-sm-12">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false"> Filtrlash <i class=" ri-filter-fill"></i></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-dark" data-bs-toggle="offcanvas" data-bs-target="#GENERAL_FILTER"
                            aria-controls="GENERAL_FILTER" href="#">Umumiy
                            filtrlash</a>
                        <a class="dropdown-item text-dark" data-bs-toggle="offcanvas" data-bs-target="#GENERAL_FILTER"
                            aria-controls="GENERAL_FILTER" href="#">Umumiy
                            filtrlash</a>
                        <a class="dropdown-item text-dark" data-bs-toggle="offcanvas" data-bs-target="#GENERAL_FILTER"
                            aria-controls="GENERAL_FILTER" href="#">Umumiy
                            filtrlash</a>
                        <a class="dropdown-item text-dark" data-bs-toggle="offcanvas" data-bs-target="#GENERAL_FILTER"
                            aria-controls="GENERAL_FILTER" href="#">Umumiy
                            filtrlash</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="row">



            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-1 overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">Barcha kirimlar miqdor1</p>
                                <h4 class="mb-0">$ 15.4</h4>
                            </div>
                            <div class="text-primary ms-auto">
                                <i class="ri-briefcase-4-line font-size-24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4%
                            </span>
                            <span class="text-muted ms-2">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-1 overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">Barcha harajatlar miqdori</p>
                                <h4 class="mb-0">$ 15.4</h4>
                            </div>
                            <div class="text-primary ms-auto">
                                <i class="ri-briefcase-4-line font-size-24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4%
                            </span>
                            <span class="text-muted ms-2">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-1 overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">Barcha daromadlar miqdori</p>
                                <h4 class="mb-0">$ 15.4</h4>
                            </div>
                            <div class="text-primary ms-auto">
                                <i class="ri-briefcase-4-line font-size-24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4%
                            </span>
                            <span class="text-muted ms-2">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-1 overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">Qarzdorlik holati</p>
                                <h4 class="mb-0">$ 15.4</h4>
                            </div>
                            <div class="text-primary ms-auto">
                                <i class="ri-briefcase-4-line font-size-24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4%
                            </span>
                            <span class="text-muted ms-2">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


