<style>
    #statusDATE {
        display: none;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h3 class="mb-sm-0">Anketalar bo'limi</h3>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/manager/dashboard/general">Asosiy sahifa</a></li>
                            <li class="breadcrumb-item active">Anketa manzili</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>

        <div class="row col-md-12 d-flex justify-content-flex-start align-items-center">

            <div class="col-md-4 m-1 ">
                <select class="select2 col-md-12 form-control" onchange="FILTER_FORMS(this.value)"
                    id="SCHOOLS"></select>
            </div>
            <div class="col-md-4 m-1 ">
                <select class="select2 col-md-12 form-control" id="FORMS"></select>
            </div>
            <button class="col-md-2 m-1 btn btn-outline-success " onclick="FilteringData()" type="button"> Filtrlash
            </button>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <table class="table table-striped table-bordered dt-responsive nowrap text-center"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%">
                    <thead>
                        <tr>
                            <th>F.I.O</th>
                            <th>Telefon</th>
                            <th>Qo'shimcha telefon</th>
                            <th>Status</th>
                            <th>Sozlama</th>
                        </tr>
                    </thead>
                    <tbody class="put_tables"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<script src="/assets/axios.min.js"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/notification.js"></script>

<script>

    const setSelectionSingle = async (DATA, APPENDING, MESSAGE) => {
        if (DATA == "") {
            const appends = $(APPENDING);
            await appends.html("");
            appends.append(`<option value="" selected>Mavjud emas</option> `);
            danger(MESSAGE);
        } else {
            const appends = $(APPENDING);
            await appends.html("");
            appends.append(`<option value="" selected>Tanlash</option> `);
            DATA.forEach((item) => {
                appends.append(
                    `<option value="${item._id}">${item.name}</option>`
                );
            });
        }
    }
    const user_token = window.localStorage.getItem('user')
    axios.get('/api/user/decode', { headers: { authorization: user_token } }).then((res) => {
        const id = res.data.id; // user id
        axios.get(`/api/school/manager/${id}`, { params: { actions: "active" } }).then(async (res) => {
            const data = res.data.data;
            setSelectionSingle(data, "#SCHOOLS", "O'quv markazi mavjud emas")
        })
    })
    // HTML ga joylashtirish
    const setHTML_all = async (data) => {
        if (data == "") {
            danger("Ro'yhat mavjud emas")
            const put_table = $(".put_tables");
            await put_table.html("");
            put_table.append('')
        }
        else {
            const put_table = $(".put_tables");
            await put_table.html("");
            data.forEach((item, index) => {
                put_table.append(`
                    <tr>
                        <td>${item.firsname} ${item.lastname}</td>
                        <td>${item.phone_number_1}</td>
                        <td>${item.phone_number_2}</td>
                        <td class="check"></td>
                       
                        <td>
                            <div class="btn-group">
                                <button style="padding: 5px 9px; font-size: 16px;" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-cog"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a style="font-weight: 700;" onclick="accepted('${item._id}')"   class="dropdown-item text-success" href="#">Qabul qilish</a>
                                    <a style="font-weight: 700;" onclick="not_accepted('${item._id}')"  class="dropdown-item text-warning" href="#">Qabul qilmaslik</a>
                                    <a style="font-weight: 700;" onclick="deleted('${item._id}')"  class="dropdown-item text-danger" href="#">O'chirish</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                `);
                const check = document.getElementsByClassName("check");
                check.forEach((inputs, inputsIndex) => {
                    if (inputsIndex == index) {
                        if (item.status == "1") {
                            inputs.innerHTML = `<span class=" badge bg-success font-size-14 p-2">Suhbatdan o'tilgan</span>`
                        }
                        if (item.status == "0") {
                            inputs.innerHTML = `<span class=" badge bg-danger font-size-14 p-2">Suhbatdan o'tilmagan</span>`
                        }
                    }
                })
            });
        }
    }
    // Anketani filtrlash
    const FILTER_FORMS = async (id) => {
        if (id == "") {
            warning("Ma'lumot topilmadi")
            const put_table = $(".put_tables");
            await put_table.html("");
            put_table.append('')
        } else {
            axios.get("/api/form/filter/", { params: { school: id, actions: "active" } }).then(async (res) => {
                const data = res.data.data;
                setSelectionSingle(data, "#FORMS", "Anketa manzili mavjud emas")
            })
        }
    }
    // Anketa yaratish

    const FilteringData = (id) => {
        const SCHOOLS = document.getElementById("SCHOOLS").value;
        const FORMS = document.getElementById("FORMS").value;
        if (SCHOOLS == "" || FORMS == "") danger("Ma'lumotni kiriting")
        else {

            axios.get("/api/form_element/filter/", { params: { school: SCHOOLS, form: FORMS } }).then(async (res) => {
                setHTML_all(res.data.data)
            })

        }
    }




    const accepted = (id) => {
        axios.put(`/api/form_element/${id}`, { status: "1" }).then((res) => {
            success("Ma'lumot tahrirlandi")
            setTimeout(() => {
                window.location.reload()
            }, 1000)
        })
    }
    const not_accepted = (id) => {
        axios.put(`/api/form_element/${id}`, { status: "0" }).then((res) => {
            success("Ma'lumot tahrirlandi")
            setTimeout(() => {
                window.location.reload()
            }, 1000)
        })
    }

    const deleted = (id) => {
        axios.delete(`/api/form_element/${id}`).then((res) => {
            success("Ma'lumot o'chirildi")
            setTimeout(() => {
                window.location.reload()
            }, 1000)
        })
    }

</script>