<style>
    .color_1 {
        background: rgb(0, 104, 255);
        background: linear-gradient(84deg, rgba(0, 104, 255, 0.8995973389355743) 0%, rgba(255, 0, 0, 0.9108018207282913) 100%);
    }

    #showTotolStudentCount {
        display: none;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="row">

            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="col-md-8"
                        style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 24px;">
                        Umumiy o'quvchilar</h4>
                </div>
            </div>

            <!-- O'quvchilar -->
            <div class="col-md-12">
                <div class="card" style="background-color: #ff6633;">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-1 overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2" style="color: #ffffff">Umumiy o'quvchilar
                                    soni</p>
                                <h4 class="mb-0" id="TOTAL_STUDENT" style="color: #ffffff">0</h4>
                            </div>
                            <div class="text-primary ms-auto">
                                <i class="fas fa-user-tie" style="font-size:35px; color: #ffffff;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4
                        style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 24px;">
                        Umumiy guruhlar</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #4663b9;">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-1 overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2" style="color: #ffffff">Umumiy guruhlar</p>
                                <h4 class="mb-0" id="TOTAL_GROUP" style="color: #ffffff">0</h4>
                            </div>
                            <div class="text-primary ms-auto">
                                <i class="fas fa-layer-group" style="font-size:35px; color: #ffffff;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #4663b9;">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-1 overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2" style="color: #ffffff">Aktiv guruhlar</p>
                                <h4 class="mb-0" id="ACTIVE_GROUP" style="color: #ffffff">0</h4>
                            </div>
                            <div class="text-primary ms-auto">
                                <i class="fas fa-layer-group" style="font-size:35px; color: #ffffff;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #4663b9;">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-1 overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2" style="color: #ffffff">Arxiv guruhlar
                                </p>
                                <h4 class="mb-0" id="ARCHIVE_GROUP" style="color: #ffffff">0</h4>
                            </div>
                            <div class="text-primary ms-auto">
                                <i class="fas fa-layer-group" style="font-size:35px; color: #ffffff;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="/assets/axios.min.js"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/notification.js"></script>
<script>



    const Token = window.localStorage.getItem('user')

    axios.get('/api/user/decode', { headers: { authorization: Token } }).then((res) => {
        const id = res.data.id;

        // O'quvchilarni olish
        axios.get('/api/analitic/mentor_student', { params: { mentor: id, actions: "active" } }).then((res) => {
            const actives = res.data.count
            axios.get('/api/analitic/mentor_student', { params: { mentor: id, actions: "archive" } }).then((resp) => {
                const archives = resp.data.count

                const TOTAL_STUDENT = document.getElementById("TOTAL_STUDENT")

                TOTAL_STUDENT.innerHTML = actives + archives
            })
        })

        // Guruhlarni olish
        axios.get(`/api/user/${id}`).then(async (res) => {
            const data = res.data.data.group
            const TOTAL_GROUP = document.getElementById("TOTAL_GROUP")
            const ACTIVE_GROUP = document.getElementById("ACTIVE_GROUP")
            const ARCHIVE_GROUP = document.getElementById("ARCHIVE_GROUP")
            const activeGroups = []
            const archiveGroups = []
            data.forEach((item) => {
                if (item.actions == "active") {
                    activeGroups.push(item)
                }
                if (item.actions == "archive") {
                    archiveGroups.push(item)
                }
            });
            TOTAL_GROUP.innerHTML = data.length
            ACTIVE_GROUP.innerHTML = activeGroups.length
            ARCHIVE_GROUP.innerHTML = archiveGroups.length
        })
    })











</script>