<style>
    #statusDATE {
        display: none;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h3 class="mb-sm-0">O'qituvchilar bo'limi</h3>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/manager/dashboard/general">Asosiy sahifa</a></li>
                            <li class="breadcrumb-item active">O'qituvchilar</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>

        <div class="row col-md-12 d-flex justify-content-between align-items-center">
            <div class="col md-3">
                <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#CREATE_CANVAS" aria-controls="CREATE_CANVAS">
                    <i class="far fa-plus-square"></i>
                    Qo'shish
                </button>
            </div>
            <div class="col-md-4">
                <select class="select2 form-control" onchange="FILTER_USERS(this.value)" id="filterBySchool"></select>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <table class="table table-striped table-bordered dt-responsive nowrap text-center"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>O'qituvchi</th>
                            <th>Passport</th>
                            <th>Ma'lumot</th>
                            <th>Status</th>
                            <th>Sana</th>
                            <th>Sozlama</th>
                        </tr>
                    </thead>

                    <tbody class="put_tables"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Malumot yaratsih -->
<div class="offcanvas offcanvas-end" style="width: 50%" tabindex="-1" id="CREATE_CANVAS"
    aria-labelledby="CREATE_CANVAS_LABEL">
    <div class="offcanvas-header">
        <h5 class="font-size-22 mt-3 p-2 pl-5 pr-5 badge bg-dark">Yangi o'qituvchi yaratish</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <label class="form-label mt-3">Filial nomi</label>
        <select style="width: 100%" class="select2 form-control select2-multiple" multiple="multiple"
            id="school_all"></select>

        <label class="form-label mb-1 mt-3">O'qituvchi ismi</label>
        <input style="width: 100%" type="text" class="form-control" id="user_name" />

        <label class="form-label mb-1 mt-3">O'qituvchi telefon raqami</label>
        <input style="width: 100%" class="form-control" type="text" id="user_phone" />

        <label class="form-label mb-1 mt-3">O'qituvchi paroli</label>
        <input style="width: 100%" class="form-control" type="password" id="user_password" />

        <label class="form-label mb-1 mt-3">O'qituvchi passport raqami</label>
        <input style="width: 100%" class="form-control" type="text" id="user_passport" />

        <label class="form-label mt-2">Jinsi</label>
        <select style="width: 100%" class="select2 form-control" id="GENDER">
            <option value="">Tanlash</option>
            <option value="man">Erkak</option>
            <option value="woman">Ayol</option>
        </select>


        <label class="form-label mb-1">Qo'shimcha telefon raqam</label>
        <input class="form-control col-md-12" style="width: 100%" type="text" id="user_another_phone" />

        <label class="form-label mb-1">O'qituvchining nik nomi</label>
        <input class="form-control col-md-12" style="width: 100%" type="text" id="user_nickname" />

        <label class="form-label mb-1">O'qituvchining familiyasi</label>
        <input class="form-control col-md-12" style="width: 100%" type="text" id="user_surname" />

        <label class="form-label mb-1">O'qituvchining otasining ismi (sharif)</label>
        <input class="form-control col-md-12" style="width: 100%" type="text" id="user_father_name" />

        <label class="form-label mb-1">O'qituvchining telegram manzili</label>
        <input class="form-control col-md-12" style="width: 100%" type="text" id="user_telegram_username" />

        <label class="form-label mb-1">O'qituvchining tug'ilgan sanasi</label>
        <input class="form-control col-md-12" style="width: 100%" type="date" id="user_born_date" />

        <label class="form-label mb-1">O'qituvchining yashash manzili</label>
        <input class="form-control col-md-12" style="width: 100%" type="text" id="user_address" />

        <p id="addnew pt-3">
            <a class="badge bg-warning font-size-14 mt-3 p-2" href="javascript:new_link()">
                <i class="far fa-id-card"></i>
                O'qituvchining ma'lumotnomalar
            </a>
        </p>
        <div id="newlinktpl" style="display: none;">
            <label class="form-label mb-1 mt-3">Qaysi ta'lim muassasini bitirgan ? </label>
            <input class="form-control col-md-12 user_graduation_name" style="width: 100%" type="text" />

            <label class="form-label mb-1 mt-3">Toifa darajasi</label>
            <select class="form-control col-md-12 user_graduation_level" style="width: 100%">
                <option value="">Tanlash</option>
                <option value="1">O'rta</option>
                <option value="2">Bakalavr</option>
                <option value="3">Magistr</option>
            </select>
        </div>
        <div id="newlink" style="background: #ececec; padding: 0 10px 10px; border-radius:  10px;" class="mt-3 "></div>





        <button type="button" onclick="create()" class="btn btn-success waves-effect waves-light mt-3">
            Yaratish
        </button>
    </div>
</div>

<!-- Malumot tahrirlash -->
<div class="offcanvas offcanvas-end" style="width: 50%" tabindex="-1" id="UPDATE_CANVAS"
    aria-labelledby="UPDATE_CANVAS_LABEL">
    <div class="offcanvas-header">
        <h5 class="font-size-22 mt-3 p-2 pl-5 pr-5 badge bg-dark">O'qituvchi ma'lumotini tahrirlash</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body get_canvas"></div>
</div>
<!-- Stataus boyicha tahrirlash -->
<div class="offcanvas offcanvas-end" style="width: 50%" tabindex="-1" id="UPDATE_STATUS_CANVAS"
    aria-labelledby="UPDATE_STATUS_CANVAS_LABEL">
    <div class="offcanvas-header">
        <h5 class="font-size-22 mt-3 p-2 pl-5 pr-5 badge bg-dark">O'qituvchi statusini tahrirlash</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <label class="form-label">Satausni tanlash</label>
        <select class="form-control select2" style="width: 100%" onchange="changeStatus(this.value)" id="change_status">
            <option value="" selected>Tanlash</option>
            <option value="none">Umuman blok holatidan chiqarish</option>
            <option value="forever">Butunlay bloklash holatiga qo'yish</option>
            <option value="pending">Vaqtinchalik muddatga bloklash</option>
        </select>

        <div class="mt-3" id="statusDATE">
            <label class="form-label">Bloklanadigan sanalarni kiriting</label>
            <div class="input-daterange input-group" id="datepicker6" data-date-format="dd M, yyyy"
                data-date-autoclose="true" data-provide="datepicker" data-date-container="#datepicker6">
                <input type="text" class="form-control" name="start" id="startDate" placeholder="Boshlang'ich sana" />
                <input type="text" class="form-control" name="end" id="endDate" placeholder="Yankuniy sana" />
            </div>
        </div>

        <div class="get_canvas_status mt-3"></div>
    </div>
</div>

<!-- Filiallarni korish -->
<div class="offcanvas offcanvas-end" style="width: 50%" tabindex="-1" id="SEE_FILIALS">
    <div class="offcanvas-header">
        <h5 class="font-size-22 mt-3 p-2 pl-5 pr-5 badge bg-dark">O'qituvchiga oid filiallar</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body ">
        <div class="add_new_schools_list"></div>
    </div>
</div>


<!-- Yangi guruhlarni qo'shish -->
<div class="offcanvas offcanvas-end" style="width: 50%" tabindex="-1" id="ADD_GROUP">
    <div class="offcanvas-header">
        <h5 class="font-size-22 mt-3 p-2 pl-5 pr-5 badge bg-dark">O'qituvchiga yangi guruh qo'shish</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body ">
        <div class="card">
            <div class="card-body col-md-12 all_own_groups">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="form-label mt-2">O'quv markazi</label>
                <select class="select2 form-control" onchange="FILTER_SCHOOL_GROUP(this.value)"
                    id="SCHOOL_add_groups"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="form-label mt-2">Guruhni nomi</label>
                <select class="select2 form-control select2-multiple" multiple="multiple" id="student_group"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 s_groupss">

            </div>
        </div>
    </div>
</div>



<!-- Fydalanuvchi haqida ma'lumot olish -->
<div class="offcanvas offcanvas-end" style="width: 100%" tabindex="-1" id="SEE_INFORMATIONS">
    <div class="offcanvas-header">
        <h5 class="font-size-22 mt-3 p-2 pl-5 pr-5 badge bg-dark">O'qituvchi haqida ma'lumot</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body get_all_informations">



        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="product-detail">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                <div class="tab-pane fade show active" id="product-1" role="tabpanel">
                                                    <img src="/assets/images/cosmos.jpg" alt="img-1"
                                                        class="col-xl-12 col-md-6 col-sm-6 img-fluid d-block">
                                                </div>
                                                <div class="tab-pane fade" id="product-2" role="tabpanel">
                                                    <img src="/assets/images/cosmos.jpg" alt="img-5"
                                                        class="col-xl-12 col-md-6 col-sm-6 img-fluid d-block">
                                                </div>
                                                <div class="tab-pane fade" id="product-3" role="tabpanel">
                                                    <img src="/assets/images/cosmos.jpg" alt="img-3"
                                                        class="col-xl-12 col-md-6 col-sm-6 img-fluid d-block">
                                                </div>
                                                <div class="tab-pane fade" id="product-4" role="tabpanel">
                                                    <img src="/assets/images/cosmos.jpg" alt="img-4"
                                                        class="col-xl-12 col-md-6 col-sm-6 img-fluid d-block">
                                                </div>
                                            </div>
                                            <div class="row text-center mt-2">
                                                <div class="col-sm-12">
                                                    <div class="d-grid">
                                                        <button type="button"
                                                            class="btn btn-primary waves-effect waves-light mt-2">
                                                            <i class=" fas fa-image"></i> Rasmni o'zgartirish
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end product img -->
                            </div>
                            <div class="col-xl-9">
                                <div class="mt-4 mt-xl-3">
                                    <a href="https://t.me/bbg122" id="own_telegram" class="text-primary">bbg122</a>
                                    <h5 class="mt-2" id="own_name" style="font-weight: 700;"> <span
                                            class="badge bg-danger p-1 font-size-16"></span> </h5>
                                    <h5 class="mt-2" style="font-weight: 700;">Oylik maosh: <span
                                            class="badge bg-danger p-1 font-size-16" id="own_salary"></span> </h5>
                                    <h5 class="mt-2" style="font-weight: 700;">Nik nomi: <span
                                            class="badge bg-primary p-1 font-size-16" id="own_nickname"></span> </h5>
                                    <h5 class="mt-2" style="font-weight: 700;">Maxsus uuid kod: <span
                                            class="badge bg-primary p-1 font-size-16" id="own_uuid"></span> </h5>



                                    <hr class="my-4">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <h5 class="font-size-14">Services :</h5>
                                            <!-- <ul class="list-unstyled product-desc-list">
                                                <li><i  class="mdi mdi-sync text-primary me-1 align-middle font-size-16"></i> Lorem ipsum dolor sit amet.</li>
                                                <li><i  class="mdi mdi-sync text-primary me-1 align-middle font-size-16"></i> Lorem ipsum dolor sit amet.</li>
                                            </ul> -->
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <h4 class=" mb-3">O'qituvchi haqida ma'lumotlar </h4>
                            <div class="product-desc">
                                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                                    <!-- <li class="nav-item">
                                        <a class="nav-link active" id="specifi-tab" data-bs-toggle="tab"
                                            href="#informations" role="tab">Batafsil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="desc-tab" data-bs-toggle="tab" href="#active_group"
                                            role="tab">Faol guruhlar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="desc-tab" data-bs-toggle="tab" href="#archive_group"
                                            role="tab">Yakunlangan guruhlar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="desc-tab" data-bs-toggle="tab" href="#active_student"
                                            role="tab">Faol o'quvchilar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="desc-tab" data-bs-toggle="tab" href="#archive_student"
                                            role="tab">Bitirgan o'quvchilar</a>
                                    </li> -->
                                </ul>
                                <div class="tab-content border border-top-0 p-4">

                                    <div class="tab-pane fade" id="active_group" role="tabpanel">
                                        <div>
                                            <p>active_group</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="archive_group" role="tabpanel">
                                        <div>
                                            <p>archive_group</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="active_student" role="tabpanel">
                                        <div>
                                            <p>active_student</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="archive_student" role="tabpanel">
                                        <div>
                                            <p>archive_student</p>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade show active" id="informations" role="tabpanel">
                                        <div class="table-responsive">
                                            <table class="table table-nowrap mb-0">
                                                <tbody>

                                                    <tr>
                                                        <th scope="row">Qaysi filiallarda ishlaydi ?</th>
                                                        <td id="own_school"> </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Hisobidagi summa ?</th>
                                                        <td id="own_balance"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Jinsi ?</th>
                                                        <td id="own_gender"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Telefon raqam</th>
                                                        <td id="own_phones">
                                                            <span class="badge bg-light font-size-13 p-2"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Status holati qanday ?</th>
                                                        <td id="own_status_default">
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row">Bitirgan ta'lim dargohi ?</th>
                                                        <td id="own_graduation"> </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Tug'ilgan sana</th>
                                                        <td id="own_born"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>


    </div>
</div>


<script src="/assets/axios.min.js"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/notification.js"></script>

<script>

    let ct = 1;
    function new_link() {
        ct++;
        let div1 = document.createElement('div');
        div1.id = ct
        let delLink = '<a class="badge bg-danger p-1 font-size-12 mt-1 p-2" href="javascript:delIt(' + ct + ')">O\'\chirish</a></div>'

        div1.innerHTML = document.getElementById('newlinktpl').innerHTML + delLink;
        document.getElementById('newlink').appendChild(div1);
    }
    function delIt(eleId) {
        d = document;
        let ele = d.getElementById(eleId);
        let parentEle = d.getElementById('newlink');
        parentEle.removeChild(ele);
    }
    $(document).ready(function () {
        $("#user_passport").inputmask("AA9999999");
        $("#user_phone").inputmask("999-99-999-99-99");
        $("#user_another_phone").inputmask("999-99-999-99-99");
    });
    /* 
        @description:  Managerga tegishli filiallarni olish
        @api: /api/user/decode
        @method: GET
    */
    const setSelectionSingle = async (DATA, APPENDING, MESSAGE) => {
        if (DATA == "") {
            const appends = $(APPENDING);
            await appends.html("");
            appends.append(`<option value="" selected>Mavjud emas</option> `);
            danger(MESSAGE);
        } else {
            const appends = $(APPENDING);
            await appends.html("");
            appends.append(`<option value="" selected>Tanlash</option> `);
            DATA.forEach((item) => {
                appends.append(
                    `<option value="${item._id}">${item.name}</option>`
                );
            });
        }
    }
    const setSelectionMultiples = async (DATA, APPENDING, MESSAGE) => {
        if (DATA == "") {
            const appends = $(APPENDING);
            await appends.html("");
            danger(MESSAGE);
        } else {
            const appends = $(APPENDING);
            await appends.html("");
            DATA.forEach((item) => {
                appends.append(
                    `<option value="${item._id}">${item.name}</option>`
                );
            });
        }
    }
    const user_token = window.localStorage.getItem('user')
    axios.get('/api/user/decode', { headers: { authorization: user_token } }).then((res) => {
        const id = res.data.id; // user id
        axios.get(`/api/school/manager/${id}`, { params: { actions: "active" } }).then(async (res) => {
            const school = res.data.data;
            setSelectionMultiples(school, "#school_all", "O'quv markazi mavjud emas")
            setSelectionSingle(school, "#filterBySchool", "O'quv markazi mavjud emas")
            setSelectionSingle(school, "#add_schools", "O'quv markazi mavjud emas")
            setSelectionSingle(school, "#SCHOOL_add_groups", "O'quv markazi mavjud emas")
        })
    })
    /*  @description: Default xolatda restart berish  */
    const restart = () => {
        const school_top = document.getElementById("filterBySchool")
        const school_on_create = document.getElementById("school_all")
        if (school_top.value != "") {
            for (let item of school_top) {
                if (item.selected) {
                    FILTER_USERS(item.value)
                }
            }
        } else {
            for (let item of school_on_create) {
                if (item.selected) {
                    FILTER_USERS(item.value)
                }
            }
        }
    }
    /* 
       @description: Filial boyicha mentorlarni tablega joylashtirish
       @api: /api/user/filter_user
       @method: GET
    */
    const FILTER_USERS = async (id) => {
        if (id == "") {
            warning("Filialni qayta tanlang")
            const put_table = $(".put_tables");
            await put_table.html("");
            put_table.append('')
        } else {
            axios.get("/api/user/filter_user", {
                params: {
                    school: id,
                    role: "mentor",
                    actions: "active"
                }
            }).then(async (res) => {
                const DATA = res.data.data
                if (DATA == "") {
                    danger("O'qituvchilar mavjud emas")
                    const put_table = $(".put_tables");
                    await put_table.html("");
                    put_table.append('')
                }
                else {
                    const put_table = $(".put_tables");
                    await put_table.html("");
                    DATA.forEach((item, index) => {
                        put_table.append(`
                            <tr>
                                <td>${index + 1}</td>
                                <td>${item.name}</td>
                                <td>${item.passport}</td>
                                <td>
                                        <i  style="padding: 8px 9px; font-size: 16px;"  onclick="seeInformations('${item._id}')"  data-bs-toggle="offcanvas" data-bs-target="#SEE_INFORMATIONS" aria-controls="SEE_INFORMATIONS"  class="btn btn-outline-danger  far fa-eye"></i>
                                    </td>
                                <td class="font-size-18"><span class="status_default"> </span></td>
                                <td>${new Date(item.createdAt).toLocaleDateString()}</td>
                                <td>
                                    <div class="btn-group">
                                        <button style="padding: 5px 9px; font-size: 16px;" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                    <div class="dropdown-menu">
                                        <a style="font-weight: 700;" onclick="get_group_of_school('${item._id}')" data-bs-toggle="offcanvas" data-bs-target="#ADD_GROUP" aria-controls="ADD_GROUP" class="dropdown-item text-success" href="#">Guruhga qo'shish  </a>
                                        <a style="font-weight: 700;" onclick="get_one('${item._id}')" data-bs-toggle="offcanvas" data-bs-target="#UPDATE_CANVAS" aria-controls="UPDATE_CANVAS" class="dropdown-item" href="#">Tahrirlash</a>
                                        <a style="font-weight: 700;" onclick="get_status('${item._id}')" data-bs-toggle="offcanvas" data-bs-target="#UPDATE_STATUS_CANVAS" aria-controls="UPDATE_STATUS_CANVAS" class="dropdown-item" href="#">Status holati</a>
                                        <a style="font-weight: 700;" onclick="delete_one('${item._id}')"  class="dropdown-item text-danger" href="#">O'chirish</a>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                        `);
                        document
                            .getElementsByClassName("status_default")
                            .forEach((innerValue, innerIndex) => {
                                if (index == innerIndex) {
                                    if (item.status_default == "none") {
                                        innerValue.innerHTML = "Bloklanmagan";
                                        innerValue.className = "status_default badge bg-success p-2";
                                    }
                                }
                            });
                        document
                            .getElementsByClassName("status_default")
                            .forEach((innerValue, innerIndex) => {
                                if (index == innerIndex) {
                                    if (item.status_default == "forever") {
                                        innerValue.innerHTML = "Butunlay bloklangan";
                                        innerValue.className = "status_default badge bg-warning p-2";
                                    }
                                }
                            });
                        document
                            .getElementsByClassName("status_default")
                            .forEach((innerValue, innerIndex) => {
                                if (index == innerIndex) {
                                    if (item.status_default == "pending") {
                                        innerValue.innerHTML = "Vaqtinchalik blokda";
                                        innerValue.className = "status_default badge bg-danger p-2";
                                    }
                                }
                            });
                    });

                }

            })
        }
    }
    /* 
       @description: Yangi mentor yaratish
       @api: /api/user/create
       @method: POST
    */
    const create = () => {
        const school_all = document.getElementById("school_all");
        const user_name = document.getElementById("user_name").value;
        const user_phone = document.getElementById("user_phone").value;
        const user_password = document.getElementById("user_password").value;
        const user_passport = document.getElementById("user_passport").value;
        const gender = document.getElementById("GENDER").value;


        const user_another_phone = document.getElementById("user_another_phone").value
        const user_nickname = document.getElementById("user_nickname").value
        const user_surname = document.getElementById("user_surname").value
        const user_father_name = document.getElementById("user_father_name").value
        const user_telegram_username = document.getElementById("user_telegram_username").value
        const user_born_date = document.getElementById("user_born_date").value
        const user_address = document.getElementById("user_address").value


        // Hujjatlarni bir joyga jamlash
        const array_description = [];
        const user_graduation_name = document.querySelectorAll('.user_graduation_name')
        const user_graduation_level = document.querySelectorAll('.user_graduation_level')
        // const user_graduation_document = document.querySelectorAll('.user_graduation_document')
        function rekursiya(number) {
            if (number >= 1) {
                if (user_graduation_name[number]) {
                    const all_documents = {
                        name: user_graduation_name[number].value,
                        level: user_graduation_level[number].value,
                        // document: user_graduation_document[number].files[0],
                    }
                    array_description.push(all_documents)
                }
                rekursiya(number - 1)
            }
        }
        rekursiya(100)

        const admin_school_all = []
        for (let item of school_all) {
            const values = item
            if (values.selected) {
                admin_school_all.push(values.value)
            }
        }
        if (
            admin_school_all == "" || admin_school_all == [] || admin_school_all == undefined ||
            user_name == "" ||
            user_phone == "" ||
            user_password == "" ||
            gender == "" ||
            user_passport == "" ||

            array_description == "" ||
            user_another_phone == "" ||
            user_nickname == "" ||
            user_surname == "" ||
            user_father_name == "" ||
            user_telegram_username == "" ||
            user_born_date == "" ||
            user_address == ""
        ) {
            warning("Malumotni to'liq kiriting");
        } else {
            axios({
                url: "/api/user/create",
                method: "POST",
                data: {
                    school: admin_school_all,
                    name: user_name,
                    phone: user_phone,
                    password: user_password,
                    passport: user_passport,
                    gender: gender,
                    role: "mentor",
                    status_default: "none",
                    salary: {
                        status: "0",
                        percenteage: {
                            staff_side: "0",
                            school_side: "0",
                        },
                        per_person: "0",
                        default_salary: "0",
                    },
                    additionalDocuments: {
                        nickname: user_nickname,
                        another_phone: user_another_phone,
                        surname: user_surname,
                        father_name: user_father_name,
                        telegram_username: user_telegram_username,
                        born_date: user_born_date,
                        address: user_address,
                        graduation: array_description,
                    }
                },
            }).then((res) => {
                const data = res.data.data
                if (data == undefined) {
                    warning("Ushu passport seriya egasi mavjud. Iltimos qaytadan tekshirib ko'ring")
                }
                else {
                    success("Muvaffaqiyatli yaratildi");
                    restart()
                }
            });
        }
    };
    /* 
       @description: Mentorni tahrirlash - [ name, phone, password, passport ]
       @api: /api/user/:id
       @method: PUT
    */
    const get_one = (id) => {
        axios.get(`/api/user/${id}`).then(async (res) => {
            const DATA = res.data.data;
            const get_canvas = $(".get_canvas");
            await get_canvas.html("");
            get_canvas.append(`
                    <label class="mb-1 mt-3 ">O'qituvchi ismi</label>
                    <input type="text" class="form-control" value="${DATA.name}"  id="name_edit">
    
                    <label class="mb-1 mt-3 ">O'qituvchi telefon raqami</label>
                    <input type="text" class="form-control" value="${DATA.phone}"  id="phone_edit">
                    
                    <label class="mb-1 mt-3 ">O'qituvchi passport raqami</label>
                    <input type="text" class="form-control" value="${DATA.passport}"  id="user_passport_edit">
    
                    <label class="mb-1 mt-3 ">Yangi parol</label>
                    <input type="text" class="form-control" value=""  id="password_edit">
    
                    <button type="button" onclick="update_one('${DATA._id}')" class=" mt-3 btn btn-success waves-effect waves-light mt-2">Tahrirlash</button>
                `);

            $(document).ready(function () {
                $("#user_passport_edit").inputmask("AA9999999");  // static mask
            });
            $(document).ready(function () {
                $("#phone_edit").inputmask("999-99-999-99-99");  // static mask
            });
        });
    };
    const update_one = (id) => {
        const name = document.getElementById("name_edit").value;
        const phone = document.getElementById("phone_edit").value;
        const password = document.getElementById("password_edit").value;
        const passport = document.getElementById("user_passport_edit").value;
        if (name == "" || phone == "" || passport == "" || password == "") {
            warning("Malumotni to'liq kiriting");
        } else {
            axios({
                url: `/api/user/content/${id}`,
                method: "PUT",
                data: {
                    name: name,
                    phone: phone,
                    passport: passport,
                    password: password,
                },
            }).then((res) => {
                success("Muvaffaqiyatli tahrirlandi");
                restart()
            });
        }
    };
    /* 
       @description: Mentorni tahrirlash - [ status ]
       @api: /api/user/:id
       @method: PUT
    */
    const get_status = (id) => {
        axios.get(`/api/user/${id}`).then(async (res) => {
            const DATA = res.data.data;
            const get_canvas_status = $(".get_canvas_status");
            await get_canvas_status.html("");
            get_canvas_status.append(`
    
            <button type="button" onclick="update_status('${DATA._id}')" class=" mt-3 btn btn-success waves-effect waves-light mt-2">Tahrirlash</button>
          `);
        });
    };
    let statusAction = "";
    const changeStatus = (value) => {
        if (value == "pending") {
            document.getElementById("statusDATE").style.display = "block";
            statusAction = "pending";
        }
        if (value == "none") {
            document.getElementById("statusDATE").style.display = "none";
            statusAction = "none";
        }
        if (value == "forever") {
            document.getElementById("statusDATE").style.display = "none";
            statusAction = "forever";
        }
    };
    const update_status = (id) => {
        const status = document.getElementById("change_status").value;
        const startDate = document.getElementById("startDate").value;
        const endDate = document.getElementById("endDate").value;

        if (status == "") {
            warning("Malumotni to'liq kiriting");
        } else {
            if (statusAction == "none") {
                axios({
                    url: `/api/user/content/${id}`,
                    method: "PUT",
                    data: {
                        status_default: "none",
                        blocking_start_date: "",
                        blocking_end_date: "",
                    },
                }).then((res) => {
                    success("Muvaffaqiyatli tahrirlandi");
                    restart()
                });
            }
            if (statusAction == "forever") {
                axios({
                    url: `/api/user/content/${id}`,
                    method: "PUT",
                    data: {
                        status_default: "forever",
                        blocking_start_date: "",
                        blocking_end_date: "",
                    },
                }).then((res) => {
                    success("Muvaffaqiyatli tahrirlandi");
                    restart()
                });
            }
            if (statusAction == "pending") {
                if (startDate == "" || endDate == "") {
                    warning("Boshlang'ich va yakuniy sanalarni to'liq kiriting");
                } else {
                    axios({
                        url: `/api/user/content/${id}`,
                        method: "PUT",
                        data: {
                            status_default: "pending",
                            blocking_start_date: new Date(startDate).toISOString(),
                            blocking_end_date: new Date(endDate).toISOString(),
                        },
                    }).then((res) => {
                        success("Muvaffaqiyatli tahrirlandi");
                        restart()
                    });
                }
            }
        }
    };
    /* 
       @description: Mentorni o'chirish 
       @api: /api/user/:id
       @method: DELETE
    */
    const delete_one = (id) => {
        axios.put(`/api/user/content/${id}`, { actions: "archive" }).then((res) => {
            success("Muvaffaqiyatli o'chirildi");
            restart()
        });
    };
    /* 
       @description: Mentor qaysi filialga tegishli ekanligini korish
       @api: /api/user/:id
       @method: DELETE
    */
    const seeFilial = (id) => {
        axios.get(`/api/user/${id}`).then(async (res) => {
            const DATA = res.data.data;
            const SCHOOL = DATA.school // []
            const lists = $(".add_new_schools_list");
            await lists.html("")
            SCHOOL.forEach((item, index) => {
                lists.append(`
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 style="font-weight: 900;0">${index += 1} - o'quv markaz: </h6>
                            <h6 >${item.name}</h6>
                        </div>
                    </div>
                `)
            });
        });
    }
    /* 
       @description: Filial boyicha guruhlarni olish
       @api: /api/group/filter/:id
       @method: GET
    */
    const getOwnGroups = (id) => {
        axios.get(`/api/group/filter/${id}`, { params: { actions: "active" } }).then(async (res) => {
            const data = res.data.data;
            const appends = $("#add_groups");
            await appends.html("");
            if (data == "") {
                danger("Ushbu o'quv markazi uchun guruhlar mavjud emas");
            } else {
                data.forEach((item) => {
                    appends.append(
                        `<option value="${item._id}">${item.name}</option>`
                    );
                });
            }
        })
    }
    /* 
       @description: Mentorga guruhlar birlashtirish 
       @api: /api/user/:id
       @method: PUT
    */

    let mentorID = ""
    const get_group_of_school = (id) => {
        mentorID = id
        axios.get(`/api/user/${id}`).then(async (res) => {
            const user = res.data.data
            const groups = res.data.data.group
            const appends = $(".s_groupss");
            const all_own_groups = $(".all_own_groups");
            await appends.html("");
            await all_own_groups.html("");
            appends.append(`
                <button type="button" id="ADD__GROUPS" onclick="add_group('${user._id}')" class="btn btn-success waves-effect waves-light mt-2">
                    Tahrirlash
                </button>
            `);
            groups.forEach((item) => {
                all_own_groups.append(`
                    <div class="alert border-1 border-secondary alert-light col-md-12 mb-1  row align-items-center" role="alert">
                        <span class="col-md-11">${item.name}</span>   
                        <a style="font-weight: 700;padding: 3px 5px;" onclick="deleteGroup('${item._id}', '${id}')"  class="btn btn-outline-danger col-md-1" href="#">
                            <i  style="font-size: 18px; "  class="ri-delete-bin-line"></i>
                        </a>
                    </div>
                `);
            })

        })
    }
    let selectedSchool = ""
    const FILTER_SCHOOL_GROUP = (id) => {
        selectedSchool = id
        axios.get(`/api/group/filter/${id}`, { params: { actions: "active" } }).then(async (res) => {
            const schoolGroups = res.data.data
            axios.get(`/api/user/${mentorID}`).then(async (res) => {
                const userGroups = res.data.data.group
                const data = schoolGroups.filter(({ _id: id1 }) => !userGroups.some(({ _id: id2 }) => id2 === id1));
                if (data == "" || data == []) {
                    warning("Ushbu o'qituvchiga boshqa guruh qo'shish imkoniyati mavjud emas")
                    document.getElementById("ADD__GROUPS").disabled = true

                } else {
                    document.getElementById("ADD__GROUPS").disabled = false
                    setSelectionMultiples(data, "#student_group", "Ushbu o'quv markazlarning guruhlari mavjud emas")
                }
            })
        })
    }
    const add_group = (id) => {
        const school = document.getElementById('SCHOOL_add_groups').value
        const group = document.getElementById('student_group');

        const arraySchool = []
        arraySchool.push(school)

        const setArray = (element) => {
            const arrays = []
            for (const option of element) {
                if (option.selected) {
                    arrays.push(option.value)
                }
            }
            return arrays
        }


        if (setArray(group) == "" || arraySchool == "") {
            warning("Malumotlatlarni to'liq kiriting")
        }
        else {

            axios.get(`/api/user/${id}`).then(async (res) => {
                const userGroups = res.data.data.group
                const containeGroup = setArray(group).concat(userGroups.map((item) => item._id))

                axios({
                    url: `/api/user/content/${id}`,
                    method: "PUT",
                    data: {
                        school: arraySchool,
                        group: containeGroup,
                    },
                }).then((res) => {
                    get_group_of_school(id)
                    FILTER_SCHOOL_GROUP(selectedSchool)
                    success("Muvaffaqiyatli tahrirlandi");
                });


            })



        }
    }
    const deleteGroup = (groupID, userID) => {
        axios.get(`/api/user/${userID}`).then(async (res) => {
            const groups = res.data.data.group
            const restedGroups = groups.filter((item) => {
                return item._id !== groupID
            })
            axios.put(`/api/user/content/${userID}`, {
                group: restedGroups
            }).then(async (res) => {
                get_group_of_school(userID)
                FILTER_SCHOOL_GROUP(selectedSchool)
            })
        })
    }




















    const ADD_GROUPS = (id) => {
        const groups = document.getElementById("add_groups")
        const groupArray = []
        for (const item of groups) {
            if (item.selected) {
                groupArray.push(item.value)
            }
        }
        if (groupArray == "") {
            danger("Guruhlar mavjud emas. Iltimos guruhlarni tanlang");
        } else {
            axios({
                url: `/api/user/content/${id}`,
                method: "PUT",
                data: {
                    group: groupArray,
                },
            }).then((res) => {
                addGroup(id)
                FILTER_SCHOOL_GROUP(selectedSchool)
                success("Muvaffaqiyatli tahrirlandi");
                restart()
            });
        }
    };
    /* 
       @description: Foydalanuvchini haqida ma'lumot olish
       @api: /api/user/:id
       @method: GET
    */
    const seeInformations = (id) => {
        axios.get(`/api/user/${id}`).then(async (res) => {
            const data = res.data.data;

            const own_school = $("#own_school")
            await own_school.html("")
            data.school.forEach((item) => {
                own_school.append(`<span class="badge bg-primary font-size-13 p-2">${item.name}</span>`)
            })

            const own_balance = document.getElementById("own_balance")
            own_balance.innerHTML = data.balance;

            const phone = []
            phone.push(data.phone)
            phone.push(data.additionalDocuments.another_phone)
            const own_phones = $("#own_phones")
            await own_phones.html("")
            phone.forEach((item) => {
                own_phones.append(`<span class="badge bg-secondary font-size-13 p-2 mr-2 ml-2"> ${item} </span> `)
            })


            const own_gender = document.getElementById("own_gender")
            if (data.gender == "man") own_gender.innerHTML = "Erkak"
            if (data.gender == "woman") own_gender.innerHTML = "Ayol"


            const own_status_default = document.getElementById("own_status_default")
            if (data.status_default == "none") own_status_default.innerHTML = `<span class="badge bg-success font-size-13 p-2">Umuman  bloklanmagan</span>`
            if (data.status_default == "forever") own_status_default.innerHTML = ` <span class="badge bg-danger font-size-13 p-2">Butunlay bloklangan</span>`
            if (data.status_default == "pending") own_status_default.innerHTML = ` <span class="badge bg-warning font-size-13 p-2"><b>${new Date(data.blocking_start_date).toLocaleDateString()} </b>  dan boshlab <b>${new Date(data.blocking_end_date).toLocaleDateString()} </b> gacha  vaqtinchalik bloklangan</span>`


            const own_graduation = $("#own_graduation")
            await own_graduation.html("")
            data.additionalDocuments.graduation.forEach((item) => {
                if (item.level == "1") own_graduation.append(`<span class="badge bg-light font-size-13 p-2 mr-2 ml-2">${item.name} - O'rta maxsus</span>`)
                if (item.level == "2") own_graduation.append(`<span class="badge bg-light font-size-13 p-2 mr-2 ml-2">${item.name} - Bakalavr</span>`)
                if (item.level == "3") own_graduation.append(`<span class="badge bg-light font-size-13 p-2 mr-2 ml-2">${item.name} - Magistr</span>`)
            })


            const own_nickname = document.getElementById("own_nickname")
            own_nickname.innerHTML = data.additionalDocuments.nickname

            const own_born = document.getElementById("own_born")
            own_born.innerHTML = data.additionalDocuments.born_date

            const own_uuid = document.getElementById("own_uuid")
            own_uuid.innerHTML = data.uuid


            const own_salary = document.getElementById("own_salary")
            const defaultSalary = data.salary
            if (defaultSalary.status == "0") {
                own_salary.innerHTML = "Oylik-maosh shartnomasi mavjud emas"
            }
            if (defaultSalary.status == "1") {
                if (defaultSalary.percenteage.staff_side != "0" && defaultSalary.percenteage.school_side != "0") {
                    own_salary.innerHTML = "Foizga kelishuv asosida shartnoma qilingan"
                }
                if (defaultSalary.per_person != "0") {
                    own_salary.innerHTML = "O'quvchi boshiga shartnoma tuzilgan"
                }
                if (defaultSalary.default_salary != "0") {
                    own_salary.innerHTML = `Doimiy ${defaultSalary.default_salary} so'mlik oylik maosh belgilangan`
                }
            }


            const own_telegram = document.getElementById("own_telegram")
            own_telegram.innerHTML = data.additionalDocuments.telegram_username


            const own_name = document.getElementById("own_name")
            own_name.innerHTML = `${data.name} ${data.additionalDocuments.surname} ${data.additionalDocuments.father_name}`
        })
    }



</script>